/*------------ Body ---------------*/
body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

a {
    text-decoration: none;
}

.hero {
    background: radial-gradient(#85bdcf, #307a6f);
}

/*---------------------------------*/



/*-------- Header Nav Bar ---------*/
.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    margin-left: 170px;
    margin-right: 170px;
    padding: 10px;
}

.headerlogo {
    display: flex;
    margin-right: 50px;
    flex-shrink: 0;
}

.headerlinks {
    display: flex;
    gap: 20px ;
    flex-shrink: 0;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sub, .nav {
    font-size: 18px;
    color: #F9FAF8;

}
/*------------------------------------------*/



/*-------- This Website Is Awesome ---------*/
.infoattop{
    display: flex;
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-shrink: 0;
    justify-content: center;
}

.awesome {
    display: flex;
    width: 440px;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.sub {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.cat {
    margin-left: 45px;
    margin-top: 50px;
    width: 550px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.purrfect {
    background: #AF6521;
    background: linear-gradient(to right, #e3740d 0%, #eeb475 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    -webkit-text-stroke: #F9FAF8;
    -webkit-text-stroke-width: 1px;
  }
/*-------------------------------------------*/



/*---------------Fun Facts------------------*/
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(#cfedf7, #6fa9ba);
    padding-bottom: 100px;
}


.funfacttitle {
    margin-top: 50px;
    color: #025852;
    font-size: 36px;
    font-weight: bolder;
}
.cards {
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

}
.subimage {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 5px solid #025852;
    border-radius: 10px;
}

.desc {
    flex-wrap: wrap;
    width: 175px;
    text-align: center;
    color: #025852;
    font-size: 18px;
}
/*-------------------------------------------*/

/*-------------------Quote-------------------*/
.quotesection{
    display: flex;
    flex-direction: column;
    /* background: radial-gradient(#fecc92, #ffa845); */
    background: radial-gradient(#f6c58e, #d7872b);
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.quotebody{
    flex-wrap: wrap;
    width: 800px;
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color: #1f1100;
}

.author{
    color: #1f1100;
    margin-left: 560px;
    font-size: 22px;
}
/*-------------------------------------------*/



/*--------------Call to Action---------------*/
.calltoaction{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#cfedf7, #6fa9ba);
    padding-bottom: 100px;
}

.bluebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(#05766e, #025852);
    margin-top: 90px;
    border-radius: 10px;
    gap: 170px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.cta_title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.cta_desc {
    color: #F9FAF8
}

.signup,.signup2 {
    background-color: #025852;
    color: #F9FAF8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;   
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid;
    border-color: #F9FAF8;
}
/*-------------------------------------------*/


/*------------------Footer-------------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: radial-gradient(#05766e, #025852);
}

.footertext{
    font-size: small;
    color: #F9FAF8;
}
/*-------------------------------------------*/